# Ignore everything in .config
/*

# But do NOT ignore these specific folders
!niri/
!waybar/
!cava/
!awww/
!mako/
!networkmanager-dmenu/
!zsh/
!systemd/
!xkblayout/
!transparency/
!klassy/
!.gitignore
