[Unit]
Description=Fuzzel Wayland Launcher

[Service]
ExecStart=/usr/bin/fuzzel
Environment=PATH=%h/.cargo/bin:/usr/local/bin:/usr/bin:/bin
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U
Restart=on-failure

[Install]
WantedBy=graphical-session.target
